.root {
    -prim-color: #56b53d;
    -prim-color-hover: #86c356;
    -text-color: #f2f2f2;
    -text-color-transparent: rgba(255, 255, 255, .7);

    -danger-color: #f1986a;
    -success-color: #51aaa0;
    -accent-color: #aa8a70;

    -icons-color: -text-color;
    -fx-font-size: 14px;
    -fx-font-family: Helvetica, sans-serif;
}
