* {
  -primary-color: #8200ee;
  -primary-variant-color: #6100b3;
  -secondary-color: #03DAC6;
  -secondary-variant-color: #018786;
  -background-color: #FFFFFF;
  -surface-color: #FFFFFF;
  -error-color: #B00020;
  -on-primary-color: #FFFFFF;
  -on-secondary-color: #000000;
  -on-background-color: #000000;
  -on-surface-color: #000000;
  -on-error-color: #FFFFFF;
}
