.toolbar-icon .image-view {
}

.toolbar-menu-icon {
    -fx-graphic: url("icons/toolbar-menu-icon.png");
}

.toolbar-search-icon-small {
    -fx-graphic: url("icons/toolbar-search-icon_small.png");
}

.toolbar-search-icon {
    -fx-graphic: url("icons/toolbar-search-icon.png");
}

.toolbar-search-close-icon {
    -fx-graphic: url("icons/toolbar-search-close-icon.png");
}

.toolbar-dashboard-icon {
    -fx-graphic: url("icons/toolbar-dashboard-icon.png");
}

.toolbar-minimize-icon {
    -fx-graphic: url("icons/toolbar-minimize-icon.png");
}

.toolbar-close-icon {
    -fx-graphic: url("icons/toolbar-close-icon.png");
}

.dropdown-icon-white {
    -fx-graphic: url("icons/dropdown-icon-white.png");
}

.shape {
    -fx-graphic: url("icons/shape.png");
}

.module-toolbar .minimize-icon {
    -fx-graphic: url("icons/controls/moduletoolbar/window-minimize-icon.png");
}

.module-toolbar .close-icon {
    -fx-graphic: url("icons/controls/moduletoolbar/toolbar-close-icon.png");
}

.menu-drawer-icon-recent-activities {
    -fx-graphic: url("icons/menudrawer/menu-icon-recent-activity.png");
}

.fab-phone-icon {
    -fx-graphic: url("icons/controls/floatingactionbutton/fab-keypad-icon.png");
}

.fab-phone-icon:hover,
.fab-phone-icon:pressed,
.fab-phone-icon:focused {
    -fx-graphic: url("icons/controls/floatingactionbutton/fab-keypad-icon-hover.png");
}

.fab-favorites-icon {
    -fx-graphic: url("icons/controls/floatingactionbutton/fab-favourites-icon.png");
}

.fab-favorites-icon:hover,
.fab-favorites-icon:pressed {
    -fx-graphic: url("icons/controls/floatingactionbutton/fab-close-icon.png") !important;
}

.fab-close-icon {
    -fx-graphic: url("icons/controls/floatingactionbutton/fab-close-icon.png");
}

.fab-close-icon:hover,
.fab-close-icon:pressed {
    -fx-graphic: url("icons/controls/floatingactionbutton/fab-close-icon.png");
}

/* ----------------------------------------------------------------------------
 * Blank Icons
 */
.blank-icon-small {
    -fx-graphic: url("icons/menu-icon-blank.png");
}

.blank-icon-medium {
    -fx-graphic: url("icons/menu-icon-blank@2x.png");
}

.blank-icon-large {
    -fx-graphic: url("icons/menu-icon-blank@3x.png");
}

/* ------------------------------------------------------------------------------
 * Add Icons
 */
.add-icon-smallest {
    -fx-graphic: url("icons/plus-green-icon@1x.png");
}

.add-icon-small {
    -fx-graphic: url("icons/plus-green-icon.png");
}

.add-icon-medium {
    -fx-graphic: url("icons/plus-green-icon_2.png");
}

.add-icon-large {
    -fx-graphic: url("icons/plus-green-icon@2x.png");
}

.add-icon-largest {
    -fx-graphic: url("icons/plus-green-icon@3x.png");
}

/* ------------------------------------------------------------------------------
 * Dialog Icons
 */
.dialog-close-icon {
    -fx-graphic: url("icons/dialog-close-icon.png");
}
