.active-tab {
  //-fx-background-color: derive(-prim-color, -30%) !important;
  //-fx-border-width: 0 0 $border 0 !important;
  //-fx-border-color: derive(-prim-color, -30%) !important;
  -fx-border-color: -text-color !important;

  & .tab-icon {
    -icons-color: -text-color;
  }

  & .tab-name-lbl {
    -fx-text-fill: -text-color;
  }

  & .close-btn {
    -icons-color: -text-color;
  }
}
