.active-tab {
  -fx-border-color: -text-color !important;

  & .tab-icon {
    -icons-color: -text-color;
  }

  & .tab-name-lbl {
    -fx-text-fill: -text-color;
  }

  & .close-btn {
    -icons-color: -text-color;
  }
}

.active-home {
  // Comment in the style you need (when using the inverted button)
  -fx-background-color: derive(-prim-color, $darken-percentage) !important;
  //-fx-background-color: derive(-text-color, $darken-percentage) !important;
}