#content-view {
  & #home {
    & #tile-pane {
      & .pagination {
        & .page {
          & .tile-page {
            -fx-vgap: 3em;
            -fx-hgap: 3em;
            -fx-padding: 1.5em;
            -fx-alignment: center center;

            & .tile-control {
              -fx-padding: 1em;
              -fx-pref-width: 12em;
              -fx-pref-height: 6.75em; //factor 1.778

              -fx-background-color: -surface-color;
              -fx-effect: -drop-shadow-1;
              -fx-border-width: 0;

              -fx-border-radius: $radius;
              -fx-background-radius: $radius;

              -fx-background-insets: 0; //needed to remove the focused border on bottom

              & .glyph-icon {
                // icon
                -fx-fill: -on-surface-color;
              }

              & .label {
                // text-label
                -fx-padding: .25em 0 0 0;
                & .text {
                  -fx-fill: -on-surface-color;
                }
              }

              &:hover {
                -fx-effect: -drop-shadow-2;
                -fx-cursor: hand;
              }

              &:focused {

              }

              &:pressed {
                -fx-effect: -drop-shadow-3;
              }
            }
          }
        }
        -fx-arrows-visible: false;
        -fx-page-information-visible: false;
        -fx-tooltip-visible: false;

        & > .pagination-control > .control-box {
          -fx-spacing: 0.5em;

          & > .bullet-button {
            -fx-background-radius: 50%;
            -fx-background-insets: 0.5em;
            -fx-background-color: rgba(0, 0, 0, .1);
            &:hover {
              -fx-cursor: hand;
              -fx-background-color: rgba(0, 0, 0, .2);
            }
            &:selected {
              -fx-background-color: -primary-color;
              &:hover {
                -fx-cursor: hand;
                -fx-background-color: -primary-variant-color;
              }
            }
          }
        }
      }
    }
  }
}
