#content-view {
  & #home {
    & #tile-pane {
      & .pagination {
        & .page {
          & .tile-page {
            -fx-vgap: px(42);
            -fx-hgap: px(42);
            -fx-padding: px(21);
            -fx-alignment: center center;

            & .tile-control {
              -fx-padding: px(21);
              $tile-width: 168;
              -fx-pref-width: px($tile-width);
              -fx-pref-height: px($tile-width / 1.778);

              -fx-background-color: -surface-color;
              -fx-effect: -drop-shadow-1;
              -fx-border-width: 0;

              -fx-border-radius: px(5);
              -fx-background-radius: px(5);

              -fx-background-insets: 0; //needed to remove the focused border on bottom

              & .glyph-icon {
                // icon
                -fx-fill: -on-surface-color;
              }

              & .label {
                // text-label
                -fx-padding: px(7) 0 0 0;
                & .text {
                  -fx-fill: -on-surface-color;
                }
              }

              &:hover {
                -fx-effect: -drop-shadow-2;
                -fx-cursor: hand;
              }

              &:focused {

              }

              &:pressed {
                -fx-effect: -drop-shadow-3;
              }
            }
          }
        }
        -fx-arrows-visible: false;
        -fx-page-information-visible: false;
        -fx-tooltip-visible: false;

        & > .pagination-control > .control-box {
          -fx-spacing: px(7);

          & > .bullet-button {
            -fx-background-radius: 50%;
            -fx-background-insets: px(7);
            -fx-background-color: rgba(0, 0, 0, .1);
            &:hover {
              -fx-cursor: hand;
              -fx-background-color: rgba(0, 0, 0, .2);
            }
            &:selected {
              -fx-background-color: -primary-color;
              &:hover {
                -fx-cursor: hand;
                -fx-background-color: -primary-variant-color;
              }
            }
          }
        }
      }
    }
  }
}
