.dialog-pane {
  -fx-background-color: white;
  -fx-effect: -drop-shadow-3;
  -fx-background-radius: 5;
}

.dialog-pane .button-bar .button {
  -fx-background-color: transparent;
  -fx-text-fill: -prim-color;
  -fx-padding: 10 15;
  -font-size: 1.25em;
  -fx-font-weight: 700;
  -fx-cursor: hand;
}

.dialog-header {
  -fx-padding: 0;
  -fx-background-color: white;
  -fx-background-radius: 5;
}

.dialog-title {
  -fx-padding: 30 30 0 30;
  -fx-font-size: 1.5em;
  -fx-font-weight: 700;
  -fx-text-fill: rgba(0, 0, 0, 1);
}

.dialog-close-button {
  -fx-background-color: transparent;
}

.dialog-close-button:hover {
  -fx-background-color: rgba(0, 0, 0, .1);
}

.dialog-close-button:pressed {
  -fx-background-color: rgba(0, 0, 0, .2);
}

.dialog-content-pane {
  -fx-padding: 20 30 20 30;
}

.dialog-content-pane .label {
  -fx-font-size: 1.2em;
  -fx-font-weight: 600;
  -fx-text-fill: rgba(0, 0, 0, .54);
}

.dialog-content-pane .input-container {
  -fx-spacing: 10;
}

.dialog-content-pane .textfield-container {
  -fx-spacing: 10;
}
