.dialog-pane {
  -fx-background-color: white;
  -fx-effect: -drop-shadow-3;
}

.dialog-pane .button-bar .button {
  -fx-background-color: -charcoal-grey;
  -fx-text-fill: -white-four;
  -fx-padding: 10 15;
}

.dialog-header {
  -fx-padding: 30;
  -fx-background-color: -white-two;
  -fx-border-width: .5;
  -fx-border-color: transparent transparent -greyish-brown-two transparent;
}

.dialog-title {
  -fx-padding: 0;
  -fx-font-size: 25;
  -fx-text-fill: -greyish-brown-two;
}

.dialog-close-button {
  -fx-background-color: transparent;
}

.dialog-close-button:hover {
  -fx-background-color: rgba(0, 0, 0, .1);
}

.dialog-close-button:pressed {
  -fx-background-color: rgba(0, 0, 0, .2);
}

.dialog-content-pane {
  -fx-padding: 30;
}

.dialog-content-pane .label {
  -fx-font-size: 18;
}

.dialog-content-pane .input-container {
  -fx-spacing: 10;
}

.dialog-content-pane .textfield-container {
  -fx-spacing: 10;
}
