.dropdown {
  @extend %toolbar-setup;

  &:hover {
    -fx-background-color: derive(-prim-color, $darken-percentage);
  }

  &:focused {
    -fx-background-color: derive(-prim-color, $darken-percentage);
  }

  & .icon {
    // The graphic node of the dropdown
  }
  & .content-node {
    // Each menu-item in the list
  }
  & .angle-down {
    // The angle-down button to the right
  }

  @extend %menu-item;
  @extend %context-menu;
}

.dropdown-inverted {
  @extend %toolbar-setup;
  -fx-background-color: -text-color;
  -fx-text-fill: -prim-color;
  -fx-border-color: -text-color;

  & .label {
    -fx-text-fill: -prim-color;
  }

  &:hover {
    -fx-background-color: derive(-text-color, $darken-percentage);
  }

  &:focused {
    -fx-background-color: derive(-text-color, $darken-percentage);
  }

  & .icon {
    // The graphic node of the dropdown
    -icons-color: -prim-color;
  }
  & .content-node {
    // Each menu-item in the list
  }
  & .angle-down {
    // The angle-down button to the right
    -icons-color: -prim-color;
  }

  @extend %menu-item;
  @extend %context-menu;
}
