@font-face {
  src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
  src: url('../fonts/Roboto-BlackItalic.ttf');
}

@font-face {
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  src: url('../fonts/Roboto-BoldItalic.ttf');
}

@font-face {
  src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  src: url('../fonts/Roboto-LightItalic.ttf');
}

@font-face {
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  src: url('../fonts/Roboto-MediumItalic.ttf');
}

@font-face {
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
  src: url('../fonts/Roboto-ThinItalic.ttf');
}
