#home {
  .tile-page {
    -fx-vgap: 40;
    -fx-hgap: 40;
    -fx-padding: 20;
    -fx-alignment: center center;
  }

  .pagination {
    -fx-arrows-visible: false;
    -fx-page-information-visible: false;
    -fx-tooltip-visible: false;
    & > .pagination-control > .control-box > .bullet-button {
      -fx-background-radius: 4em;
      -fx-padding: 0.333em;
      -fx-background-color: derive(-text-color, -30%);
      -fx-background-insets: 5.25;
      &:hover {
        -fx-cursor: hand;
        -fx-background-color: derive(-text-color, $darken-percentage);
      }
      &:selected {
        -fx-background-color: -prim-color;
        &:hover {
          -fx-cursor: hand;
          -fx-background-color: -prim-color-hover;
        }
      }
    }
  }
}
