// Sets a margin for all sides of the element
@mixin margin-all($margin) {
  -fx-padding: $margin;
  -fx-border-insets: $margin;
  -fx-background-insets: $margin;
}

// Sets a margin for each side of the element. Order: Top, Right, Bottom, Left
@mixin margin($margin-top, $margin-right, $margin-bottom, $margin-left) {
  -fx-padding: $margin-top $margin-right $margin-bottom $margin-left;
  -fx-border-insets: $margin-top $margin-right $margin-bottom $margin-left;
  -fx-background-insets: $margin-top $margin-right $margin-bottom $margin-left;
}

//Initiating the basic behaviour of any item in the toolbar
%tool-bar-setup {
  //-fx-max-height: $pref-size;
  //-fx-min-height: $pref-size;
  -fx-pref-height: $pref-size;
  -fx-background-insets:0;
  -fx-background-color: derive(-primary-color, -15%);
  -fx-padding: .5em;
  -fx-spacing: .5em;
  -fx-alignment: center center;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 0;
  -fx-text-fill: -text-color;

  &:hover {
    -fx-background-color: derive(-primary-color, -7.5%);
  }
  & .label {
    -fx-text-fill: -text-color;
  }

}

%menu-item {
  & .menu-item {
    -fx-alignment: center-left;
    -fx-padding: .5em;

    &:hover {
      -fx-background-color: derive(-primary-color, 30%);
      -fx-text-fill: -text-color;

      & .label {
        -fx-text-fill: -text-color;
      }
    }

    &:focused {
      -fx-background-color: derive(-primary-color, 30%);
      -fx-text-fill: -text-color;
      & .label, > .label {
        -fx-text-fill: -text-color;
      }
    }
  }

}

%context-menu {
  & .context-menu {
    -fx-background-color: derive(-primary-color, 15%);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 3, 0.0, 0, 2);

    & .scroll-arrow {
      -fx-background-color: derive(-primary-color, 45%);
      &:hover {
        -fx-background-color: derive(-primary-color, 60%);
      }
    }

    .menu {
      &:hover > .right-container > .arrow {
        -fx-background-color: -text-color;
      }
      &:focused > .right-container > .arrow {
        -fx-background-color: -text-color;
      }
      & > .right-container > .arrow {
        -fx-background-color: -text-color;
      }
    }

    & .menu-item {
      & >.label {
        -fx-text-fill: -text-color;
      }
    }

  }
}


