%context-menu {
  .context-menu {
    -fx-background-color: -surface-color;
    -fx-background-radius: $radius;
    -fx-effect: -drop-shadow-3;
    -fx-padding: .5em 0 .5em 0;

    & .menu-item {
      -fx-background-radius: 0;
      -fx-padding: .75em 1.25em .75em 1.25em;

      & .glyph-icon {
        -fx-font-size: 1.25em !important;
        -fx-fill: -on-surface-color;
      }

      & .label {
        -fx-padding: 0 2em 0 .25em; // TODO: Find better solution

        & .text {
          -fx-fill: -on-surface-color;
        }
      }

      & .right-container > .arrow {
        -fx-background-color: -on-surface-color;
      }

      &:focused {
        -fx-background-color: rgba(0, 0, 0, .075);
      }

      &:hover {
        -fx-cursor: hand;
      }
    }

    & .menu:hover {
      -fx-cursor: inherit;
    }

    & > .scroll-arrow {
      // ArrowMenuItem when having a lot of items
      -fx-padding: 1em;

      &:hover {
        -fx-background-color: rgba(0, 0, 0, .075);
      }

      & .menu-up-arrow {
        -fx-background-color: -on-surface-color;
        @extend %arrow-shape;
        -fx-rotate: -90;
      }

      & .menu-down-arrow {
        -fx-background-color: -on-surface-color;
        @extend %arrow-shape;
        -fx-rotate: 90;
      }
    }
  }
}

%arrow-shape {
  -fx-padding: 0;
  -fx-background-insets: 0;

  $wid: .5em;
  $hei: $wid * 1.718; //ratio of the arrow to the right
  -fx-pref-width: $wid;
  -fx-pref-height: $hei;
  // Arrow points to the right
  -fx-shape: "M595 576q0 -13 -10 -23l-466 -466q-10 -10 -23 -10t-23 10l-50 50q-10 10 -10 23t10 23l393 393l-393 393q-10 10 -10 23t10 23l50 50q10 10 23 10t23 -10l466 -466q10 -10 10 -23z";

  //-fx-padding: 0.458em 0.167em 0.458em 0.167em; /* 4.5 2 4.5 2 */
  //-fx-background-color: -fx-mark-color;
  //-fx-shape: "M0,-4L4,0L0,4Z";
  //-fx-scale-shape: true;
}

%dropdown {
  & .dropdown {
    -fx-background-insets: .35em; // Prevent getting to the border
    -fx-padding: 0 1.25em 0 .5em;
    -fx-graphic-text-gap: .5em;
    -fx-pref-height: $pref-size;
    -fx-background-color: -primary-color;
    -fx-background-radius: $radius*.6;
    -fx-border-width: 0;

    & .label {
      & .glyph-icon {
        -fx-fill: -on-primary-color;
      }
      & .image-view {

      }
      & .text {
        -fx-fill: -on-primary-color;
      }
    }

    & .arrow-button {
      -fx-padding: 0;
      -fx-background-insets: 0;

      & .arrow {
        -shape-width: 4.167px*.6; // Shrink arrow down
        -shape-height: 8.333px*.6; // Shrink arrow down
        -fx-max-width: -shape-width;
        -fx-max-height: -shape-height;
        -fx-min-width: -shape-width;
        -fx-min-height: -shape-height;
        -fx-pref-width: -shape-width;
        -fx-pref-height: -shape-height;

        -fx-shape: "M 10 17 L 15 12 L 10 7 L 10 17 Z";
        -fx-rotate: 90;

        -fx-background-color: -on-primary-color;
      }
    }

    &:hover {
      -fx-cursor: hand;
    }

    &:showing {
      -fx-background-color: -primary-variant-color;
      -fx-cursor: inherit !important;

      & .arrow-button .arrow {
        -fx-rotate: -90;
      }
    }
  }
}

%button-base {
  & .button {
    -fx-background-insets: .35em; // Prevent getting to the border
    -fx-padding: 0 1em 0 1em;
    -fx-graphic-text-gap: .5em;
    -fx-pref-height: $pref-size;
    -fx-background-color: -primary-color;
    -fx-background-radius: $radius*.6;
    -fx-border-width: 0;

    & .glyph-icon {
      -fx-fill: -on-primary-color;
    }

    & .text {
      -fx-fill: -on-primary-color;
    }

    &:hover {
      -fx-cursor: hand;
    }
    &:pressed {
      -fx-background-color: -primary-variant-color;
    }
  }
}

// Base format of an icon: two StackPanes into each other.
%icon-base {
  & .icon {
    -fx-background-color: transparent;
    // tablet
    //-icon-size: 48px;
    // desktop
    -icon-size: 40px;
    -fx-max-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-min-height: -icon-size;
    -fx-pref-width: -icon-size;
    -fx-pref-height: -icon-size;

    & .shape {
      // tablet
      //-shape-width: 20px;
      //-shape-height: 20px;
      // desktop
      -shape-width: 16px;
      -shape-height: 16px;
      -fx-max-width: -shape-width;
      -fx-max-height: -shape-height;
      -fx-min-width: -shape-width;
      -fx-min-height: -shape-height;
      -fx-pref-width: -shape-width;
      -fx-pref-height: -shape-height;
    }
  }
}

// --- SVG paths of materialize icons ------------------------------------------
%add-icon {
  -fx-shape: "M 19 13 L 13 13 L 13 19 L 11 19 L 11 13 L 5 13 L 5 11 L 11 11 L 11 5 L 13 5 L 13 11 L 19 11 L 19 13 Z";
  //-shape-width: 14px; // -> tablet size
  //-shape-height: 14px; // -> tablet size
  -shape-width: 11.667px;
  -shape-height: 11.667px;
}

%arrow-back-icon {
  -fx-shape: "M 20 11 L 7.83 11 L 13.42 5.41 L 12 4 L 4 12 L 12 20 L 13.41 18.59 L 7.83 13 L 20 13 L 20 11 Z";
  //-shape-width: 16px; // -> tablet size
  //-shape-height: 16px; // -> tablet size
  -shape-width: 13.333px;
  -shape-height: 13.333px;
}

%arrow-right-icon {
  -fx-shape: "M 10 17 L 15 12 L 10 7 L 10 17 Z";
  //-shape-width: 5px; // -> tablet size
  //-shape-height: 10px; // -> tablet size
  -shape-width: 4.167px;
  -shape-height: 8.333px;
}

%cancel-icon {
  -fx-shape: "M 12 2 C 6.47 2 2 6.47 2 12 C 2 17.53 6.47 22 12 22 C 17.53 22 22 17.53 22 12 C 22 6.47 17.53 2 12 2 Z M 17 15.59 L 15.59 17 L 12 13.41 L 8.41 17 L 7 15.59 L 10.59 12 L 7 8.41 L 8.41 7 L 12 10.59 L 15.59 7 L 17 8.41 L 13.41 12 L 17 15.59 Z";
  //-shape-width: 20px; // -> tablet size
  //-shape-height: 20px; // -> tablet size
  -shape-width: 16.667px;
  -shape-height: 16.667px;
}

%close-icon {
  -fx-shape: "M 19 6.41 L 17.59 5 L 12 10.59 L 6.41 5 L 5 6.41 L 10.59 12 L 5 17.59 L 6.41 19 L 12 13.41 L 17.59 19 L 19 17.59 L 13.41 12 Z";
  //-shape-width: 14px; // -> tablet size
  //-shape-height: 14px; // -> tablet size
  -shape-width: 11.667px;
  -shape-height: 11.667px;
}

%menu-icon {
  -fx-shape: "M 3 18 L 21 18 L 21 16 L 3 16 L 3 18 Z M 3 13 L 21 13 L 21 11 L 3 11 L 3 13 Z M 3 6 L 3 8 L 21 8 L 21 6 L 3 6 Z";
  //-shape-width: 18px; // -> tablet size
  //-shape-height: 12px; // -> tablet size
  -shape-width: 15px;
  -shape-height: 10px;
}