// Sets a margin for all sides of the element
@mixin margin-all($margin) {
  -fx-padding: $margin;
  -fx-border-insets: $margin;
  -fx-background-insets: $margin;
}

// Sets a margin for each side of the element. Order: Top, Right, Bottom, Left
@mixin margin($margin-top, $margin-right, $margin-bottom, $margin-left) {
  -fx-padding: $margin-top $margin-right $margin-bottom $margin-left;
  -fx-border-insets: $margin-top $margin-right $margin-bottom $margin-left;
  -fx-background-insets: $margin-top $margin-right $margin-bottom $margin-left;
}

//Initiating the basic behaviour of any item in the toolbar
%toolbar-setup {
  -fx-pref-height: $pref-size;
  -fx-background-color: -prim-color;
  -fx-padding: .5em;
  -fx-spacing: .5em;
  -fx-alignment: center center;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-background-insets: 0;
  -fx-text-fill: -text-color;

  -fx-border-width: 0;
  -fx-border-color: -prim-color;

  &:focused {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
  }

  &:hover {
    -fx-cursor: hand;
  }

  & .label {
    -fx-text-fill: -text-color;
  }
}

%menu-item {
  & .menu-item {
    -fx-padding: 1em 1.5em 1em 1.5em;
    -fx-alignment: center-left;
    -fx-background-radius: 0;
    -fx-background-color: -text-color;
    -fx-text-fill: -prim-color;
    -icons-color: -prim-color;

    // Hovering in the global menu
    &:hover {
      -fx-cursor: hand;
      -fx-background-color: derive(-text-color, $darken-percentage);

      & .label {
        -fx-text-fill: -prim-color;
      }
    }

    &:focused {
      // Also active when hovering through the submenus
      -fx-background-color: derive(-text-color, $darken-percentage);
      -fx-text-fill: -prim-color;
      & .label, > .label {
        -fx-text-fill: -prim-color;
      }
    }

    & > .graphic-container {
      -fx-padding: 0 0.5em 0 0.5em;
    }

    & > .label {
      -icons-color: -prim-color;
      -fx-text-fill: -prim-color;
    }

    & > .arrow-button {
      & > .arrow {
        -fx-background-color: -prim-color;
      }
    }
  }
}

%context-menu {
  // When any Submenu opens
  & .context-menu {
    -fx-background-color: -text-color;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 15, .3, 2, 4);

    // ArrowMenuItem
    & > .scroll-arrow {
      -fx-padding: .75em;
      -fx-background-color: -prim-color;

      &:hover {
        -fx-background-color: derive(-prim-color, $darken-percentage);
      }

      & .menu-up-arrow {
        -fx-background-color: -text-color;
      }

      & .menu-down-arrow {
        -fx-background-color: -text-color;
      }
    }

    .menu {
      &:hover > .right-container > .arrow {
        -fx-background-color: -prim-color;
      }
      &:focused > .right-container > .arrow {
        -fx-background-color: -prim-color;
      }

      & > .right-container > .arrow {
        // Default color of the arrow
        -fx-background-color: -prim-color;
      }
    }

    & .menu-item {
      -icons-color: -prim-color;

      & > .label {
        -fx-text-fill: -prim-color;
      }
    }

    &:hover {
      -fx-cursor: hand;
    }
  }
}

%button {
  @extend %toolbar-setup;
  -fx-min-width: $pref-size;
  -fx-text-fill: -text-color;

  & > .label {
    -fx-min-width: null;
    -fx-text-fill: -text-color;
  }

  &:hover {
    -fx-background-color: derive(-prim-color, $darken-percentage);
  }

  &:pressed {
    -fx-background-color: derive(-prim-color, $darken-percentage);
  }
}

%button-inverted {
  @extend %button;
  -fx-background-color: -text-color;
  -fx-text-fill: -prim-color;

  & .glyph-icon {
    -fx-fill: -prim-color;
  }

  & > .label {
    -fx-text-fill: -prim-color;
  }

  &:hover {
    -fx-background-color: -prim-color;
    -fx-text-fill: -text-color;

    & .glyph-icon {
      -fx-fill: -text-color;
    }

    & > .label {
      -fx-text-fill: -text-color;
    }
  }

  &:pressed {
    -fx-background-color: derive(-prim-color, $darken-percentage);
  }
}
