.tile-control {
  @extend %tool-bar-setup;
  -fx-min-width: 16em;
  -fx-min-height: 9em;
  &:hover {
    -fx-text-fill: -text-color;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 3, 0.0, 0, 2);
  }
}

.tab-control {
  @extend %tool-bar-setup;
  -fx-padding: .5em .5em .5em 1em;

  & .tab-icon {

  }

  & .tab-name-lbl {

  }

  & .close-btn {
    -fx-background-color: transparent;
    & .close-icon-view {
      -fx-font-size: 1em !important;
    }
    &:hover .close-icon-view {
      -icons-color: -danger-color;
    }
  }
}

.active-tab {
  -fx-background-color: -primary-color !important;
}

%button-styling {
  @extend .tab-control;
  -fx-padding: .5em;
  -fx-pref-width: 3.5em;
}
