.tile-control {
  @extend %toolbar-setup;
  -fx-min-width: 16em;
  -fx-min-height: 9em;
  -fx-background-radius: $border;
  -fx-border-radius: $border;
  &:hover {
    -fx-text-fill: -text-color;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 5, .3, 1, 2);
  }

  &:focused {
    -fx-background-radius: $border;
    -fx-background-color: derive(-prim-color, $darken-percentage/1.5);
  }

  &:pressed {
    -fx-background-color: derive(-prim-color, $darken-percentage);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 15, .3, 2, 4);
  }
}