.navigation-drawer {
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 0;

  -fx-background-color: -text-color;
  -fx-effect: null;

  .separator:horizontal .line {
    -fx-border-color: derive(-text-color, -30%) transparent transparent transparent;
    -fx-border-insets: 1 0 0 0;
  }

  > .scroll-arrow {
    -fx-padding: .5em;
    -fx-background-color: transparent;
    &:hover {
      -fx-background: -fx-selection-bar;
      -fx-background-color: -fx-background;
      -fx-text-fill: -fx-text-background-color;
    }
  }

  :show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
  }

  @extend %menu-item;
  @extend %context-menu;

  .menu-button > .label {
    -fx-graphic-text-gap: 1em;
  }

  .button {
    -fx-graphic-text-gap: 1em;
  }

  .menu-container {

  }

  #back-button {
    // Comment in the button style you like to use.
    //@extend %button;
    @extend %button-inverted;

    & #menu-icon-view {

    }

    & #back-icon-view {

    }
  }

  .logo {
    @include margin(20, 0, 0, 0);
    -fx-alignment: center-left;
  }

  .drawer-box {

  }

  .header {
    -fx-spacing: 25;
    -fx-alignment: center;
    -fx-background-color: -prim-color;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 4, 0.0, 0, 3);

    .separator .line {
      -fx-border-color: -text-color;
      -fx-border-width: 1;
    }
  }
}