.navigation-drawer {
  -fx-background-color: -surface-color;

  & .separator:horizontal .line {
    -fx-border-color: rgba(0, 0, 0, .2) transparent transparent transparent;
    -fx-border-insets: 1 0 0 0;
  }

  & > .scroll-arrow {
    -fx-padding: .5em;
    -fx-background-color: transparent;
    &:hover {
      -fx-background: -fx-selection-bar;
      -fx-background-color: -fx-background;
      -fx-text-fill: -fx-text-background-color;
    }
  }

  &:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
  }

  & .drawer-box {
    & .header {
      -fx-background-color: -surface-color; // Needed to gain the drop-shadow below
      -fx-effect: -shadow;
      -fx-min-height: $pref-size * 2;
      -fx-padding: .35em;

      .separator .line {
        -fx-border-color: -on-surface-color;
        -fx-border-width: 1;
      }

      & .button {
        //back-button
        -fx-pref-width: $pref-size*.75;
        -fx-pref-height: $pref-size*.75;
        -fx-background-color: transparent;
        -fx-border-width: 0;
        -fx-background-insets: 0; //needed to remove the focused border on bottom

        & .glyph-icon {
          -fx-font-size: 1.25em;
          -fx-fill: -on-surface-color;
        }
        & .logo {
          //image-view
        }
        &:hover {
          -fx-cursor: hand;
        }
        &:pressed {
          -fx-background-color: rgba(0, 0, 0, .075);
        }
      }
    }

    & .pretty-scroll-pane {
      -fx-background-color: transparent;

      & .viewport {
        -fx-background-color: transparent;

        & .menu-container {
          -fx-padding: 1.5em 1em 1.5em 1em;

          & .menu-item {
            // styles for all items
            -fx-graphic-text-gap: 1.5em;

            -fx-pref-height: $pref-size;
            -fx-border-radius: $radius;
            -fx-background-radius: $radius;
            -fx-padding: 0 1em 0 1em;
            -fx-alignment: CENTER_LEFT !important;

            &:focused {
              -fx-background-color: transparent;
            }

            &:hover {
              -fx-cursor: hand;
            }
          }

          & .button {
            // styles only for buttons
            & .glyph-icon {
              -fx-font-size: 1.25em;
              -fx-fill: -on-surface-color;
            }

            & .text {
              -fx-fill: -on-surface-color;
            }

            &:pressed {
              -fx-background-color: rgba(0, 0, 0, .075);
            }
          }

          & .menu-button {
            // styles only for menus
            -fx-padding: .5em .25em .5em 1em;

            & .label {
              -fx-padding: 0 2em 0 0;

              & .glyph-icon {
                -fx-font-size: 1.5em !important;
                -fx-fill: -on-surface-color;
              }
              & .text {
                -fx-fill: -on-surface-color;
              }
            }
            & .arrow-button .arrow {
              -fx-background-color: -on-surface-color;
              @extend %arrow-shape;

              // Size adjustments after setting the arrow
              $wid: .25em;
              $hei: $wid * 1.718; //ratio of the arrow to the right
              -fx-pref-width: $wid;
              -fx-pref-height: $hei;
            }
            &:showing {
              -fx-background-color: -primary-color;
              -fx-cursor: inherit;

              & .label {
                & .glyph-icon {
                  -fx-fill: -on-primary-color;
                }
                & .text {
                  -fx-fill: -on-primary-color;
                }
              }
              & .arrow-button .arrow {
                -fx-background-color: -on-primary-color;
              }
            }
          }
          @extend %context-menu;
        }
      }
    }
  }
}

.scroll-bar {
  $size: 12;
  $scroll-pane-padding: 2;

  %zero-size {
    -fx-pref-width: 0 !important;
    -fx-pref-height: 0 !important;
  }

  -fx-pref-width: $size;
  -fx-pref-height: $size;
  -fx-padding: $scroll-pane-padding;
  -fx-background-color: transparent;

  .thumb {
    -fx-background-color: rgba(0, 0, 0, .075);
    -fx-background-radius: 999;
    -fx-pref-width: $size;
    -fx-pref-height: $size;
  }

  .increment-button,
  .increment-arrow,
  .decrement-button,
  .decrement-arrow {
    @extend %zero-size;
  }

  &:vertical .thumb {
    -fx-background-insets: 0 $scroll-pane-padding 0 0;
  }
  &:horizontal .thumb {
    -fx-background-insets: 0 0 $scroll-pane-padding 0;
  }
}
