#toolbar {
  .selection-strip {
    -fx-background-color: -prim-color !important;
    -fx-border-color: derive(-prim-color, $darken-percentage);
    -fx-border-width: 0 1px 0 1px;
    -fx-border-insets: 0 -1px 0 -1px;

    & .strip-cell {
      -fx-border-width: 0 0 2px 0;
      -fx-border-color: -prim-color;

      &:hover {
        -fx-cursor: hand;
      }

      &:pressed {
        -fx-background-color: -prim-color;
        //-fx-border-color: derive(-prim-color, $darken-percentage);
      }

      &:selected {
        //-fx-background-color: derive(-prim-color, $darken-percentage);
        -fx-background-color: -prim-color;
        -fx-border-color: -text-color;
        -fx-cursor: inherit;
      }

      & .tab-control {
        -fx-alignment: center;
        -fx-border-width: 0;
        -fx-padding: 0 1em 0 1em;

        & .tab-icon {
          & .glyph-icon {
            -fx-font-size: 1.125em !important;
          }
        }

        & .tab-name-lbl {
          -fx-text-fill: -text-color;
          -fx-padding: 0 1em 0 1em;
        }

        & .close-btn {
          -fx-background-color: transparent;
          -fx-padding: 0;

          & .glyph-icon {
            -fx-font-size: 1em !important;
          }

          &:hover {
            -fx-cursor: hand;
            & .glyph-icon {
              -fx-fill: -danger-color;
            }
          }
        }
      }
    }

    & .fader {
      &.left {
        // Background Color, where the scroller is in the derived prim-color
        //-fx-background-color: linear-gradient(from 25 0 to 80 0, derive(-prim-color, $darken-percentage), transparent);

        // Background Color, where the scroller is in the prim-color
        -fx-background-color: linear-gradient(to right, -prim-color 25%, derive(-prim-color, $darken-percentage) 25%, transparent 100%);
      }

      &.right {
        // Background Color, where the scroller is in the derived prim-color
        //-fx-background-color: linear-gradient(from 0 0 to 55 0, transparent, derive(-prim-color, $darken-percentage));

        // Background Color, where the scroller is in the prim-color
        -fx-background-color: linear-gradient(to left, -prim-color 25%, derive(-prim-color, $darken-percentage) 25%, transparent 100%);
      }
    }

    .scroller {
      -fx-background-color: -text-color;
      -fx-pref-width: $pref-size/2.5;
      -fx-pref-height: $pref-size;
      -fx-background-insets: $pref-size/2.7 $pref-size/9.1 $pref-size/2.7 $pref-size/7.14;
      -fx-shape: "M595 576q0 -13 -10 -23l-466 -466q-10 -10 -23 -10t-23 10l-50 50q-10 10 -10 23t10 23l393 393l-393 393q-10 10 -10 23t10 23l50 50q10 10 23 10t23 -10l466 -466q10 -10 10 -23z";

      &.left {

      }

      &.right {

      }
    }
  }
}