#toolbar {
  @extend %icon-base; // All icons in the toolbar are targeted
  @extend %button-base;

  -fx-background-color: -primary-color;

  & #top-box {
    & #toolbar-control-right-box {
      -fx-alignment: CENTER_RIGHT;
      -fx-spacing: .25em;
    }
    & #toolbar-control-left-box {
      -fx-alignment: CENTER_LEFT;
      -fx-spacing: .25em;
    }

    & #menu-button {
      & .shape {
        -fx-background-color: -on-primary-color;
        @extend %menu-icon;
      }

      &:pressed {
        -fx-background-color: -primary-variant-color;
        -fx-background-radius: $radius*.6;
      }
    }

    & .dropdown {
      -fx-pref-height: $pref-size;
      -fx-background-color: -primary-color;
      -fx-background-radius: $radius*.6;
      -fx-border-width: 0;
      -fx-background-insets: 0; //needed to remove the focused border on bottom

      & .label {
        -fx-graphic-text-gap: .5em;

        & .glyph-icon {
          -fx-font-size: 1.25em !important;
          -fx-fill: -on-primary-color;
        }
        & .image-view {

        }
        & .text {
          -fx-fill: -on-primary-color;
        }
      }

      & .arrow-button {
        & .glyph-icon {
          //angle-down
          -fx-font-size: .75em !important;
          -fx-fill: -on-primary-color;
        }
      }

      &:hover {
        -fx-cursor: hand;
      }

      &:showing {
        -fx-background-color: -primary-variant-color;
        -fx-cursor: inherit !important;
      }
    }

    // @extend %context-menu;
    // The extention of the context-menu can be found in the context-menu.css file.
    // It is set in the constructor of the Workbench.
  }

  & #bottom-box {
    -fx-pref-height: $pref-size;

    -fx-padding: 0 .42em 0 .35em;

    //.selection-strip {...}
    // The extention of the selection-strip can be found in the selection-strip.css file.
    // It is set in the initializeViewParts() method of the ToolbarPresenter.

    & #add-button {
      -fx-background-insets: 0;

      & .shape {
        -fx-background-color: -on-primary-color;
        @extend %add-icon;
      }

      &:pressed {
        -fx-background-radius: $radius $radius 0 0;
      }
    }

    & .active-add-button {
      -fx-background-color: -background-color;
      -fx-background-radius: $radius $radius 0 0;
      -fx-border-radius: $radius $radius 0 0;
      -fx-background-insets: 0 $border*-1 0 $border*-1;

      & .shape {
        -fx-background-color: -on-background-color !important;
      }

      &:hover {
        -fx-cursor: inherit;
      }
    }
  }
}
