@import "includes";

.navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container {
  @extend %context-menu;
}

#toolbar #top-box {
  @extend %context-menu;

  & .context-menu {
    // Shrinking down everything with factor 0.8
    -fx-background-radius: px(2);
    -fx-padding: px(5.6) 0 px(5.6) 0;

    & .menu-item {
      -fx-padding: px(8.4) px(9.1) px(8.4) px(9.1);

      & .label {
        -fx-padding: 0 px(22.4) 0 px(2.8); // TODO: Find better solution
      }
    }

    & > .scroll-arrow {
      // ArrowMenuItem when having a lot of items
      -fx-padding: px(11.2);
    }
  }
}