// Color Theme - https://material.io/design/color/the-color-system.html#color-theme-creation

$primary-color: #6200EE;
$primary-variant-color: #3700B3;
$secondary-color: #6300ff;
$secondary-variant-color: #1e005f;

$background-color: #FFFFFF;
$surface-color: #FFFFFF;
$error-color: #B00020;

$on-primary-color: #FFFFFF;
$on-secondary-color: #FFFFFF;
$on-background-color: #000000;
$on-surface-color: #000000;
$on-error-color: #FFFFFF;

// Since the JavaFX SceneBuilder cannot perform setting variables in the .root selector,
// we put them in the * selector
* {
  -primary-color: $primary-color;
  -primary-variant-color: $primary-variant-color;
  -secondary-color: $secondary-color;
  -secondary-variant-color: $secondary-variant-color;

  -background-color: $background-color;
  -surface-color: $surface-color;
  -error-color: $error-color;

  -on-primary-color: $on-primary-color;
  -on-secondary-color: $on-secondary-color;
  -on-background-color: $on-background-color;
  -on-surface-color: $on-surface-color;
  -on-error-color: $on-error-color;

  -drop-shadow-1: dropshadow(gaussian, rgba(0, 0, 0, .26), 10, 0.12, -1, 2);
  -drop-shadow-2: dropshadow(gaussian, rgba(0, 0, 0, .26), 15, 0.16, -1, 4);
  -drop-shadow-3: dropshadow(gaussian, rgba(0, 0, 0, .26), 20, 0.19, -1, 6);

  -shadow: dropshadow(gaussian, rgba(0, 0, 0, .1), 6, 0.2, 0, 0);
}

// Since the JavaFX SceneBuilder cannot perform setting fonts in the * selector,
// we put them in the .root selector
.root {
  -fx-font-family: "Roboto", sans-serif;
  -fx-font-size: 14px;
}

// Default styling of icons. This enables changing the icons styles later on
.glyph-icon {
  -fx-text-fill: -on-primary-color;
  -fx-fill: -on-primary-color;
  -fx-font-size: 1em / 14 * 16 !important; // equals 16px when root 14px
}

@import "fonts";
@import "includes";
@import "workbench";
@import "add-module-page";
@import "content-view";
@import "toolbar";
@import "glass-pane";
@import "navigation-drawer";
@import "dialog";
@import "drawer";
