// Color Theme - https://material.io/design/color/the-color-system.html#color-theme-creation
$primary-color: #6200EE;
$primary-variant-color: #3700B3;
$secondary-color: #03DAC6;
$secondary-variant-color: #018786;

$background-color: #FFFFFF;
$surface-color: #FFFFFF;
$error-color: #B00020;

$on-primary-color: #FFFFFF;
$on-secondary-color: #000000;
$on-background-color: #000000;
$on-surface-color: #000000;
$on-error-color: #FFFFFF;

.root {
  -primary-color: $primary-color;
  -primary-variant-color: $primary-variant-color;
  -secondary-color: $secondary-color;
  -secondary-variant-color: $secondary-variant-color;

  -background-color: $background-color;
  -surface-color: $surface-color;
  -error-color: $error-color;

  -on-primary-color: $on-primary-color;
  -on-secondary-color: $on-secondary-color;
  -on-background-color: $on-background-color;
  -on-surface-color: $on-surface-color;
  -on-error-color: $on-error-color;

  -drop-shadow-1: dropshadow(gaussian, rgba(0, 0, 0, .26), 10, 0.12, -1, 2);
  -drop-shadow-2: dropshadow(gaussian, rgba(0, 0, 0, .26), 15, 0.16, -1, 4);
  -drop-shadow-3: dropshadow(gaussian, rgba(0, 0, 0, .26), 20, 0.19, -1, 6);

  -shadow: dropshadow(gaussian, rgba(0, 0, 0, .1), 6, 0.2, 0, 0);

  -icons-color: -on-primary-color; // TODO: how to handle this?
  -fx-font-family: "Roboto", sans-serif;
  -fx-font-size: 14px;
}

// Default styling of icons. This enables changing the icons styles later on
.glyph-icon {
  -fx-text-fill: -on-primary-color;
  -fx-fill: -icons-color;
  -fx-font-size: 1.5em !important;
}

$border: 3px;
$pref-size: 3.5em;
$darken-percentage: -10%;

@import "fonts";
@import "includes";
@import "contentView";
@import "home";
@import "toolbar";
@import "tabBar";
@import "module";
@import "workbench";
@import "dropdown";
@import "prettyScrollPane";
@import "navigationDrawer";
@import "glassPane";
@import "activeTools";
@import "dialog";
