.root {
  -prim-color: #af5218;
  -prim-color-hover: #c55c1b;
  -danger-color: #ed5a5a;
  -success-color: #47aa71;
  -accent-color: #00aaff;
  -text-color: #fefcfb;
  -text-color-transparent: rgba(254, 252, 251, 0.8);
  -inverted-text-color: #010304;
  -drop-shadow-1: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 10, 0.12, -1, 2);
  -drop-shadow-2: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 15, 0.16, -1, 4);
  -drop-shadow-3: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 20, 0.19, -1, 6);
  -shadow: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 6, 0.2, 0, 0);
  -icons-color: -text-color;
  -fx-font-family: "Roboto", sans-serif;
  -fx-font-size: 14px; }

.glyph-icon {
  -fx-text-fill: -text-color;
  -fx-fill: -icons-color;
  -fx-font-size: 1.5em !important; }

@font-face {
  src: url("../fonts/Roboto-Black.ttf"); }
@font-face {
  src: url("../fonts/Roboto-BlackItalic.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Bold.ttf"); }
@font-face {
  src: url("../fonts/Roboto-BoldItalic.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Italic.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  src: url("../fonts/Roboto-LightItalic.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Medium.ttf"); }
@font-face {
  src: url("../fonts/Roboto-MediumItalic.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Thin.ttf"); }
@font-face {
  src: url("../fonts/Roboto-ThinItalic.ttf"); }
#toolbar #menu-button, #toolbar #toolbar-control-left-box .button-inverted, #toolbar #toolbar-control-left-box .button, #toolbar #home-button, #toolbar #toolbar-control-right-box .button, .navigation-drawer #back-button, .tile-control, .dropdown, .dropdown-inverted {
  -fx-pref-height: 3.5em;
  -fx-background-color: -prim-color;
  -fx-padding: .5em;
  -fx-spacing: .5em;
  -fx-alignment: center center;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-background-insets: 0;
  -fx-text-fill: -text-color;
  -fx-border-width: 0;
  -fx-border-color: -prim-color; }
  #toolbar #menu-button:focused, #toolbar #toolbar-control-left-box .button-inverted:focused, #toolbar #toolbar-control-left-box .button:focused, #toolbar #home-button:focused, #toolbar #toolbar-control-right-box .button:focused, .navigation-drawer #back-button:focused, .tile-control:focused, .dropdown:focused, .dropdown-inverted:focused {
    -fx-background-insets: 0;
    -fx-background-radius: 0; }
  #toolbar #menu-button:hover, #toolbar #toolbar-control-left-box .button-inverted:hover, #toolbar #toolbar-control-left-box .button:hover, #toolbar #home-button:hover, #toolbar #toolbar-control-right-box .button:hover, .navigation-drawer #back-button:hover, .tile-control:hover, .dropdown:hover, .dropdown-inverted:hover {
    -fx-cursor: hand; }
  #toolbar #menu-button .label, #toolbar #toolbar-control-left-box .button-inverted .label, #toolbar #toolbar-control-left-box .button .label, #toolbar #home-button .label, #toolbar #toolbar-control-right-box .button .label, .navigation-drawer #back-button .label, .tile-control .label, .dropdown .label, .dropdown-inverted .label {
    -fx-text-fill: -text-color; }

.dropdown .menu-item, .dropdown-inverted .menu-item, .navigation-drawer .menu-item {
  -fx-padding: 1em 1.5em 1em 1.5em;
  -fx-alignment: center-left;
  -fx-background-radius: 0;
  -fx-background-color: -text-color;
  -fx-text-fill: -prim-color;
  -icons-color: -prim-color; }
  .dropdown .menu-item:hover, .dropdown-inverted .menu-item:hover, .navigation-drawer .menu-item:hover {
    -fx-cursor: hand;
    -fx-background-color: derive(-text-color, -10%); }
    .dropdown .menu-item:hover .label, .dropdown-inverted .menu-item:hover .label, .navigation-drawer .menu-item:hover .label {
      -fx-text-fill: -prim-color; }
  .dropdown .menu-item:focused, .dropdown-inverted .menu-item:focused, .navigation-drawer .menu-item:focused {
    -fx-background-color: derive(-text-color, -10%);
    -fx-text-fill: -prim-color; }
    .dropdown .menu-item:focused .label, .dropdown-inverted .menu-item:focused .label, .navigation-drawer .menu-item:focused .label, .dropdown .menu-item:focused > .label, .dropdown-inverted .menu-item:focused > .label, .navigation-drawer .menu-item:focused > .label {
      -fx-text-fill: -prim-color; }
  .dropdown .menu-item > .graphic-container, .dropdown-inverted .menu-item > .graphic-container, .navigation-drawer .menu-item > .graphic-container {
    -fx-padding: 0 0.5em 0 0.5em; }
  .dropdown .menu-item > .label, .dropdown-inverted .menu-item > .label, .navigation-drawer .menu-item > .label {
    -icons-color: -prim-color;
    -fx-text-fill: -prim-color; }
  .dropdown .menu-item > .arrow-button > .arrow, .dropdown-inverted .menu-item > .arrow-button > .arrow, .navigation-drawer .menu-item > .arrow-button > .arrow {
    -fx-background-color: -prim-color; }

.dropdown .context-menu, .dropdown-inverted .context-menu, .navigation-drawer .context-menu {
  -fx-background-color: -text-color;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.3, 2, 4); }
  .dropdown .context-menu > .scroll-arrow, .dropdown-inverted .context-menu > .scroll-arrow, .navigation-drawer .context-menu > .scroll-arrow {
    -fx-padding: .75em;
    -fx-background-color: -prim-color; }
    .dropdown .context-menu > .scroll-arrow:hover, .dropdown-inverted .context-menu > .scroll-arrow:hover, .navigation-drawer .context-menu > .scroll-arrow:hover {
      -fx-background-color: derive(-prim-color, -10%); }
    .dropdown .context-menu > .scroll-arrow .menu-up-arrow, .dropdown-inverted .context-menu > .scroll-arrow .menu-up-arrow, .navigation-drawer .context-menu > .scroll-arrow .menu-up-arrow {
      -fx-background-color: -text-color; }
    .dropdown .context-menu > .scroll-arrow .menu-down-arrow, .dropdown-inverted .context-menu > .scroll-arrow .menu-down-arrow, .navigation-drawer .context-menu > .scroll-arrow .menu-down-arrow {
      -fx-background-color: -text-color; }
  .dropdown .context-menu .menu:hover > .right-container > .arrow, .dropdown-inverted .context-menu .menu:hover > .right-container > .arrow, .navigation-drawer .context-menu .menu:hover > .right-container > .arrow {
    -fx-background-color: -prim-color; }
  .dropdown .context-menu .menu:focused > .right-container > .arrow, .dropdown-inverted .context-menu .menu:focused > .right-container > .arrow, .navigation-drawer .context-menu .menu:focused > .right-container > .arrow {
    -fx-background-color: -prim-color; }
  .dropdown .context-menu .menu > .right-container > .arrow, .dropdown-inverted .context-menu .menu > .right-container > .arrow, .navigation-drawer .context-menu .menu > .right-container > .arrow {
    -fx-background-color: -prim-color; }
  .dropdown .context-menu .menu-item, .dropdown-inverted .context-menu .menu-item, .navigation-drawer .context-menu .menu-item {
    -icons-color: -prim-color; }
    .dropdown .context-menu .menu-item > .label, .dropdown-inverted .context-menu .menu-item > .label, .navigation-drawer .context-menu .menu-item > .label {
      -fx-text-fill: -prim-color; }
  .dropdown .context-menu:hover, .dropdown-inverted .context-menu:hover, .navigation-drawer .context-menu:hover {
    -fx-cursor: hand; }

#toolbar #menu-button, #toolbar #toolbar-control-left-box .button-inverted, #toolbar #toolbar-control-left-box .button, #toolbar #home-button, #toolbar #toolbar-control-right-box .button, .navigation-drawer #back-button {
  -fx-min-width: 3.5em;
  -fx-text-fill: -text-color; }
  #toolbar #menu-button > .label, #toolbar #toolbar-control-left-box .button-inverted > .label, #toolbar #toolbar-control-left-box .button > .label, #toolbar #home-button > .label, #toolbar #toolbar-control-right-box .button > .label, .navigation-drawer #back-button > .label {
    -fx-min-width: null;
    -fx-text-fill: -text-color; }
  #toolbar #menu-button:hover, #toolbar #toolbar-control-left-box .button-inverted:hover, #toolbar #toolbar-control-left-box .button:hover, #toolbar #home-button:hover, #toolbar #toolbar-control-right-box .button:hover, .navigation-drawer #back-button:hover {
    -fx-background-color: derive(-prim-color, -10%); }
  #toolbar #menu-button:pressed, #toolbar #toolbar-control-left-box .button-inverted:pressed, #toolbar #toolbar-control-left-box .button:pressed, #toolbar #home-button:pressed, #toolbar #toolbar-control-right-box .button:pressed, .navigation-drawer #back-button:pressed {
    -fx-background-color: derive(-prim-color, -10%); }

#toolbar #menu-button, #toolbar #toolbar-control-left-box .button-inverted {
  -fx-background-color: -text-color;
  -fx-text-fill: -prim-color; }
  #toolbar #menu-button .glyph-icon, #toolbar #toolbar-control-left-box .button-inverted .glyph-icon {
    -fx-fill: -prim-color; }
  #toolbar #menu-button > .label, #toolbar #toolbar-control-left-box .button-inverted > .label {
    -fx-text-fill: -prim-color; }
  #toolbar #menu-button:hover, #toolbar #toolbar-control-left-box .button-inverted:hover {
    -fx-background-color: -prim-color;
    -fx-text-fill: -text-color; }
    #toolbar #menu-button:hover .glyph-icon, #toolbar #toolbar-control-left-box .button-inverted:hover .glyph-icon {
      -fx-fill: -text-color; }
    #toolbar #menu-button:hover > .label, #toolbar #toolbar-control-left-box .button-inverted:hover > .label {
      -fx-text-fill: -text-color; }
  #toolbar #menu-button:pressed, #toolbar #toolbar-control-left-box .button-inverted:pressed {
    -fx-background-color: derive(-prim-color, -10%); }

#home .tile-page {
  -fx-vgap: 40;
  -fx-hgap: 40;
  -fx-padding: 20;
  -fx-alignment: center center; }
#home .pagination {
  -fx-arrows-visible: false;
  -fx-page-information-visible: false;
  -fx-tooltip-visible: false; }
  #home .pagination > .pagination-control > .control-box > .bullet-button {
    -fx-background-radius: 4em;
    -fx-padding: 0.333em;
    -fx-background-color: derive(-text-color, -30%);
    -fx-background-insets: 5.25; }
    #home .pagination > .pagination-control > .control-box > .bullet-button:hover {
      -fx-cursor: hand;
      -fx-background-color: derive(-text-color, -10%); }
    #home .pagination > .pagination-control > .control-box > .bullet-button:selected {
      -fx-background-color: -prim-color; }
      #home .pagination > .pagination-control > .control-box > .bullet-button:selected:hover {
        -fx-cursor: hand;
        -fx-background-color: -prim-color-hover; }

#toolbar {
  -fx-background-color: -prim-color;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 0, 3); }

#toolbar .selection-strip {
  -fx-background-color: -prim-color !important;
  -fx-border-color: derive(-prim-color, -10%);
  -fx-border-width: 0 1px 0 1px;
  -fx-border-insets: 0 -1px 0 -1px; }
  #toolbar .selection-strip .strip-cell {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: -prim-color; }
    #toolbar .selection-strip .strip-cell:hover {
      -fx-cursor: hand; }
    #toolbar .selection-strip .strip-cell:pressed {
      -fx-background-color: -prim-color; }
    #toolbar .selection-strip .strip-cell:selected {
      -fx-background-color: -prim-color;
      -fx-border-color: -text-color;
      -fx-cursor: inherit; }
    #toolbar .selection-strip .strip-cell .tab-control {
      -fx-alignment: center;
      -fx-border-width: 0;
      -fx-padding: 0 1em 0 1em; }
      #toolbar .selection-strip .strip-cell .tab-control .tab-icon .glyph-icon {
        -fx-font-size: 1.125em !important; }
      #toolbar .selection-strip .strip-cell .tab-control .tab-name-lbl {
        -fx-text-fill: -text-color;
        -fx-padding: 0 1em 0 1em; }
      #toolbar .selection-strip .strip-cell .tab-control .close-btn {
        -fx-background-color: transparent;
        -fx-padding: 0; }
        #toolbar .selection-strip .strip-cell .tab-control .close-btn .glyph-icon {
          -fx-font-size: 1em !important; }
        #toolbar .selection-strip .strip-cell .tab-control .close-btn:hover {
          -fx-cursor: hand; }
          #toolbar .selection-strip .strip-cell .tab-control .close-btn:hover .glyph-icon {
            -fx-fill: -danger-color; }
  #toolbar .selection-strip .fader.left {
    -fx-background-color: linear-gradient(to right, -prim-color 25%, derive(-prim-color, -10%) 25%, transparent 100%); }
  #toolbar .selection-strip .fader.right {
    -fx-background-color: linear-gradient(to left, -prim-color 25%, derive(-prim-color, -10%) 25%, transparent 100%); }
  #toolbar .selection-strip .scroller {
    -fx-background-color: -text-color;
    -fx-pref-width: 1.4em;
    -fx-pref-height: 3.5em;
    -fx-background-insets: 1.2962962963em 0.3846153846em 1.2962962963em 0.4901960784em;
    -fx-shape: "M595 576q0 -13 -10 -23l-466 -466q-10 -10 -23 -10t-23 10l-50 50q-10 10 -10 23t10 23l393 393l-393 393q-10 10 -10 23t10 23l50 50q10 10 23 10t23 -10l466 -466q10 -10 10 -23z"; }

.tile-control {
  -fx-min-width: 16em;
  -fx-min-height: 9em;
  -fx-background-radius: 3px;
  -fx-border-radius: 3px; }
  .tile-control:hover {
    -fx-text-fill: -text-color;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 1, 2); }
  .tile-control:focused {
    -fx-background-radius: 3px;
    -fx-background-color: derive(-prim-color, -6.6666666667%); }
  .tile-control:pressed {
    -fx-background-color: derive(-prim-color, -10%);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.3, 2, 4); }

.dropdown:hover {
  -fx-background-color: derive(-prim-color, -10%); }
.dropdown:focused {
  -fx-background-color: derive(-prim-color, -10%); }

.dropdown-inverted {
  -fx-background-color: -text-color;
  -fx-text-fill: -prim-color;
  -fx-border-color: -text-color; }
  .dropdown-inverted .label {
    -fx-text-fill: -prim-color; }
  .dropdown-inverted:hover {
    -fx-background-color: derive(-text-color, -10%); }
  .dropdown-inverted:focused {
    -fx-background-color: derive(-text-color, -10%); }
  .dropdown-inverted .icon {
    -icons-color: -prim-color; }
  .dropdown-inverted .angle-down {
    -icons-color: -prim-color; }

.pretty-scroll-pane .scroll-bar .increment-button, .pretty-scroll-pane .scroll-bar .increment-arrow, .pretty-scroll-pane .scroll-bar .decrement-button, .pretty-scroll-pane .scroll-bar .decrement-arrow {
  -fx-pref-width: 0 !important;
  -fx-pref-height: 0 !important; }

.pretty-scroll-pane {
  -fx-padding: 0.5em 0 0 0;
  -fx-border-insets: 0.5em 0 0 0;
  -fx-background-insets: 0.5em 0 0 0;
  -fx-background-insets: 0;
  -fx-background-color: transparent; }
  .pretty-scroll-pane .scroll-bar {
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-padding: 2;
    -fx-background-color: transparent; }
    .pretty-scroll-pane .scroll-bar .thumb {
      -fx-background-color: rgba(0, 0, 0, 0.2);
      -fx-background-radius: 1000;
      -fx-pref-width: 12;
      -fx-pref-height: 12; }
    .pretty-scroll-pane .scroll-bar:vertical .thumb {
      -fx-background-insets: 0 2 0 0; }
    .pretty-scroll-pane .scroll-bar:horizontal .thumb {
      -fx-background-insets: 0 0 2 0; }

.navigation-drawer {
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 0;
  -fx-background-color: -text-color;
  -fx-effect: null; }
  .navigation-drawer .separator:horizontal .line {
    -fx-border-color: derive(-text-color, -30%) transparent transparent transparent;
    -fx-border-insets: 1 0 0 0; }
  .navigation-drawer > .scroll-arrow {
    -fx-padding: .5em;
    -fx-background-color: transparent; }
    .navigation-drawer > .scroll-arrow:hover {
      -fx-background: -fx-selection-bar;
      -fx-background-color: -fx-background;
      -fx-text-fill: -fx-text-background-color; }
  .navigation-drawer :show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill; }
  .navigation-drawer .menu-button > .label {
    -fx-graphic-text-gap: 1em; }
  .navigation-drawer .button {
    -fx-graphic-text-gap: 1em; }
  .navigation-drawer .logo {
    -fx-padding: 20 0 0 0;
    -fx-border-insets: 20 0 0 0;
    -fx-background-insets: 20 0 0 0;
    -fx-alignment: center-left; }
  .navigation-drawer .header {
    -fx-spacing: 25;
    -fx-alignment: center;
    -fx-background-color: -prim-color; }
    .navigation-drawer .header .separator .line {
      -fx-border-color: -text-color;
      -fx-border-width: 1; }

.glass-pane {
  -fx-background-color: black;
  -fx-opacity: .6; }

.active-tab {
  -fx-border-color: -text-color !important; }
  .active-tab .tab-icon {
    -icons-color: -text-color; }
  .active-tab .tab-name-lbl {
    -fx-text-fill: -text-color; }
  .active-tab .close-btn {
    -icons-color: -text-color; }

.active-home {
  -fx-background-color: derive(-prim-color, -10%) !important; }

.dialog-pane {
  -fx-background-color: white;
  -fx-effect: -drop-shadow-3;
  -fx-background-radius: 5; }
  .dialog-pane .button-bar .button {
    -fx-background-color: transparent;
    -fx-text-fill: -prim-color;
    -fx-padding: 10 15;
    -font-size: 1.25em;
    -fx-font-weight: 700;
    -fx-cursor: hand; }

.dialog-header {
  -fx-padding: 0;
  -fx-background-color: white;
  -fx-background-radius: 5; }

.dialog-title {
  -fx-padding: 30 30 0 30;
  -fx-font-size: 1.5em;
  -fx-font-weight: 700;
  -fx-text-fill: black; }

.dialog-content-pane {
  -fx-padding: 20 30 20 30; }
  .dialog-content-pane .label {
    -fx-font-size: 1.2em;
    -fx-font-weight: 600;
    -fx-text-fill: rgba(0, 0, 0, 0.54); }
  .dialog-content-pane .input-container {
    -fx-spacing: 10; }
  .dialog-content-pane .textfield-container {
    -fx-spacing: 10; }

.error-details-titled-pane {
  -fx-padding: 20 0 0 0; }

/*# sourceMappingURL=main.css.map */
