.root {
  -primary-color: #6200EE;
  -primary-variant-color: #3700B3;
  -secondary-color: #03DAC6;
  -secondary-variant-color: #018786;
  -background-color: #FFFFFF;
  -surface-color: #FFFFFF;
  -error-color: #B00020;
  -on-primary-color: #FFFFFF;
  -on-secondary-color: #000000;
  -on-background-color: #000000;
  -on-surface-color: #000000;
  -on-error-color: #FFFFFF;
  -drop-shadow-1: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 10, 0.12, -1, 2);
  -drop-shadow-2: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 15, 0.16, -1, 4);
  -drop-shadow-3: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 20, 0.19, -1, 6);
  -shadow: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 6, 0.2, 0, 0);
  -icons-color: -on-primary-color;
  -fx-font-family: "Roboto", sans-serif;
  -fx-font-size: 14px; }

.glyph-icon {
  -fx-text-fill: -on-primary-color;
  -fx-fill: -icons-color;
  -fx-font-size: 1.143em !important; }

@font-face {
  src: url("../fonts/Roboto-Black.ttf"); }
@font-face {
  src: url("../fonts/Roboto-BlackItalic.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Bold.ttf"); }
@font-face {
  src: url("../fonts/Roboto-BoldItalic.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Italic.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  src: url("../fonts/Roboto-LightItalic.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Medium.ttf"); }
@font-face {
  src: url("../fonts/Roboto-MediumItalic.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  src: url("../fonts/Roboto-Thin.ttf"); }
@font-face {
  src: url("../fonts/Roboto-ThinItalic.ttf"); }
#toolbar #top-box .dropdown {
  -fx-background-insets: .35em;
  -fx-padding: 0 1.25em 0 .5em;
  -fx-graphic-text-gap: .5em;
  -fx-pref-height: 2.857em;
  -fx-background-color: -primary-color;
  -fx-background-radius: 0.2142em;
  -fx-border-width: 0; }
  #toolbar #top-box .dropdown .label .glyph-icon {
    -fx-fill: -on-primary-color; }
  #toolbar #top-box .dropdown .label .text {
    -fx-fill: -on-primary-color; }
  #toolbar #top-box .dropdown .arrow-button {
    -fx-padding: 0;
    -fx-background-insets: 0; }
    #toolbar #top-box .dropdown .arrow-button .arrow {
      -fx-rotate: 90;
      -shape-width: 2.5002px !important;
      -shape-height: 4.9998px !important;
      -fx-max-width: -shape-width;
      -fx-max-height: -shape-height;
      -fx-min-width: -shape-width;
      -fx-min-height: -shape-height;
      -fx-pref-width: -shape-width;
      -fx-pref-height: -shape-height;
      -fx-background-color: -on-primary-color; }
  #toolbar #top-box .dropdown:hover {
    -fx-cursor: hand; }
  #toolbar #top-box .dropdown:showing {
    -fx-background-color: -primary-variant-color;
    -fx-cursor: inherit !important; }
    #toolbar #top-box .dropdown:showing .arrow-button .arrow {
      -fx-rotate: -90; }

#toolbar .button {
  -fx-alignment: CENTER_LEFT;
  -fx-background-insets: .35em;
  -fx-padding: 0 1em 0 1em;
  -fx-graphic-text-gap: .5em;
  -fx-pref-height: 2.857em;
  -fx-background-color: -primary-color;
  -fx-background-radius: 0.2142em;
  -fx-border-width: 0; }
  #toolbar .button .glyph-icon {
    -fx-fill: -on-primary-color; }
  #toolbar .button .text {
    -fx-fill: -on-primary-color; }
  #toolbar .button:hover {
    -fx-cursor: hand; }
  #toolbar .button:pressed {
    -fx-background-color: -primary-variant-color; }

#toolbar .icon, .navigation-drawer .drawer-box .header .icon {
  -fx-background-color: transparent;
  -icon-size: 40px;
  -fx-max-width: -icon-size;
  -fx-max-height: -icon-size;
  -fx-min-width: -icon-size;
  -fx-min-height: -icon-size;
  -fx-pref-width: -icon-size;
  -fx-pref-height: -icon-size; }
  #toolbar .icon .shape, .navigation-drawer .drawer-box .header .icon .shape {
    -shape-width: 16px;
    -shape-height: 16px;
    -fx-max-width: -shape-width;
    -fx-max-height: -shape-height;
    -fx-min-width: -shape-width;
    -fx-min-height: -shape-height;
    -fx-pref-width: -shape-width;
    -fx-pref-height: -shape-height; }

#toolbar #bottom-box #add-button .shape {
  -fx-shape: "M 19 13 L 13 13 L 13 19 L 11 19 L 11 13 L 5 13 L 5 11 L 11 11 L 11 5 L 13 5 L 13 11 L 19 11 L 19 13 Z";
  -shape-width: 11.667px;
  -shape-height: 11.667px; }

.navigation-drawer .drawer-box .header #back-button .shape {
  -fx-shape: "M 20 11 L 7.83 11 L 13.42 5.41 L 12 4 L 4 12 L 12 20 L 13.41 18.59 L 7.83 13 L 20 13 L 20 11 Z";
  -shape-width: 13.333px;
  -shape-height: 13.333px; }

#toolbar #top-box .dropdown .arrow-button .arrow, .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-button .arrow-button .arrow {
  -fx-shape: "M 10 17 L 15 12 L 10 7 L 10 17 Z";
  -shape-width: 4.167px;
  -shape-height: 8.333px; }

#toolbar #top-box #menu-button .shape {
  -fx-shape: "M 3 18 L 21 18 L 21 16 L 3 16 L 3 18 Z M 3 13 L 21 13 L 21 11 L 3 11 L 3 13 Z M 3 6 L 3 8 L 21 8 L 21 6 L 3 6 Z";
  -shape-width: 15px;
  -shape-height: 10px; }

#workbench {
  -fx-background-color: -background-color; }

#content-view #home #tile-pane .pagination {
  -fx-arrows-visible: false;
  -fx-page-information-visible: false;
  -fx-tooltip-visible: false; }
  #content-view #home #tile-pane .pagination .page .tile-page {
    -fx-vgap: 3em;
    -fx-hgap: 3em;
    -fx-padding: 1.5em;
    -fx-alignment: center center; }
    #content-view #home #tile-pane .pagination .page .tile-page .tile-control {
      -fx-padding: 1.5em;
      -fx-pref-width: 12em;
      -fx-pref-height: 6.75em;
      -fx-background-color: -surface-color;
      -fx-effect: -drop-shadow-1;
      -fx-border-width: 0;
      -fx-border-radius: 0.357em;
      -fx-background-radius: 0.357em;
      -fx-background-insets: 0; }
      #content-view #home #tile-pane .pagination .page .tile-page .tile-control .glyph-icon {
        -fx-fill: -on-surface-color; }
      #content-view #home #tile-pane .pagination .page .tile-page .tile-control .label {
        -fx-padding: .5em 0 0 0; }
        #content-view #home #tile-pane .pagination .page .tile-page .tile-control .label .text {
          -fx-fill: -on-surface-color; }
      #content-view #home #tile-pane .pagination .page .tile-page .tile-control:hover {
        -fx-effect: -drop-shadow-2;
        -fx-cursor: hand; }
      #content-view #home #tile-pane .pagination .page .tile-page .tile-control:pressed {
        -fx-effect: -drop-shadow-3; }
  #content-view #home #tile-pane .pagination > .pagination-control > .control-box {
    -fx-spacing: 0.5em; }
    #content-view #home #tile-pane .pagination > .pagination-control > .control-box > .bullet-button {
      -fx-background-radius: 50%;
      -fx-background-insets: 0.5em;
      -fx-background-color: rgba(0, 0, 0, 0.1); }
      #content-view #home #tile-pane .pagination > .pagination-control > .control-box > .bullet-button:hover {
        -fx-cursor: hand;
        -fx-background-color: rgba(0, 0, 0, 0.2); }
      #content-view #home #tile-pane .pagination > .pagination-control > .control-box > .bullet-button:selected {
        -fx-background-color: -primary-color; }
        #content-view #home #tile-pane .pagination > .pagination-control > .control-box > .bullet-button:selected:hover {
          -fx-cursor: hand;
          -fx-background-color: -primary-variant-color; }

#toolbar {
  -fx-background-color: -primary-color; }
  #toolbar #top-box #toolbar-control-right-box {
    -fx-alignment: CENTER_RIGHT; }
  #toolbar #top-box #toolbar-control-left-box {
    -fx-alignment: CENTER_LEFT; }
  #toolbar #top-box #menu-button .shape {
    -fx-background-color: -on-primary-color; }
  #toolbar #top-box #menu-button:pressed {
    -fx-background-color: -primary-variant-color;
    -fx-background-radius: 0.2142em; }
  #toolbar #bottom-box {
    -fx-pref-height: 2.857em;
    -fx-padding: 0 .42em 0 .35em; }
    #toolbar #bottom-box #add-button {
      -fx-background-insets: 0; }
      #toolbar #bottom-box #add-button .shape {
        -fx-background-color: -on-primary-color; }
      #toolbar #bottom-box #add-button:pressed {
        -fx-background-radius: 0.357em 0.357em 0 0; }
    #toolbar #bottom-box .active-add-button {
      -fx-background-color: -background-color;
      -fx-background-radius: 0.357em 0.357em 0 0;
      -fx-border-radius: 0.357em 0.357em 0 0;
      -fx-background-insets: 0 -1px 0 -1px; }
      #toolbar #bottom-box .active-add-button .shape {
        -fx-background-color: -on-background-color !important; }
      #toolbar #bottom-box .active-add-button:hover {
        -fx-cursor: inherit; }

.glass-pane {
  -fx-background-color: black;
  -fx-opacity: .6; }

.navigation-drawer {
  -fx-background-color: -surface-color; }
  .navigation-drawer .separator:horizontal .line {
    -fx-border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
    -fx-border-insets: 1 0 0 0; }
  .navigation-drawer > .scroll-arrow {
    -fx-padding: .5em;
    -fx-background-color: transparent; }
    .navigation-drawer > .scroll-arrow:hover {
      -fx-background: -fx-selection-bar;
      -fx-background-color: -fx-background;
      -fx-text-fill: -fx-text-background-color; }
  .navigation-drawer:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill; }
  .navigation-drawer .drawer-box .header {
    -fx-background-color: -surface-color;
    -fx-effect: -shadow;
    -fx-min-height: 5.714em; }
    .navigation-drawer .drawer-box .header .separator .line {
      -fx-border-color: -on-surface-color;
      -fx-border-width: 1; }
    .navigation-drawer .drawer-box .header #back-button {
      -fx-background-insets: .35em; }
      .navigation-drawer .drawer-box .header #back-button .shape {
        -fx-background-color: -on-surface-color; }
      .navigation-drawer .drawer-box .header #back-button:pressed {
        -fx-background-color: rgba(0, 0, 0, 0.075); }
  .navigation-drawer .drawer-box .pretty-scroll-pane {
    -fx-background-color: transparent; }
    .navigation-drawer .drawer-box .pretty-scroll-pane .viewport {
      -fx-background-color: transparent; }
      .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container {
        -fx-padding: 1.5em 1em 1.5em 1em; }
        .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-item {
          -fx-graphic-text-gap: 1.5em;
          -fx-pref-height: 2.857em;
          -fx-border-width: 0;
          -fx-background-radius: 0.357em;
          -fx-padding: 0 1em 0 1em;
          -fx-alignment: CENTER_LEFT !important; }
          .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-item:focused {
            -fx-background-color: transparent; }
          .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-item:hover {
            -fx-cursor: hand; }
        .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .button .glyph-icon {
          -fx-fill: -on-surface-color; }
        .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .button .text {
          -fx-fill: -on-surface-color; }
        .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .button:pressed {
          -fx-background-color: rgba(0, 0, 0, 0.075); }
        .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-button .label .glyph-icon, .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-button .label .text {
          -fx-fill: -on-surface-color; }
        .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-button .arrow-button {
          -fx-padding: 0;
          -fx-background-insets: 0; }
          .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-button .arrow-button .arrow {
            -shape-width: 3.3336px;
            -shape-height: 6.6664px;
            -fx-max-width: -shape-width;
            -fx-max-height: -shape-height;
            -fx-min-width: -shape-width;
            -fx-min-height: -shape-height;
            -fx-pref-width: -shape-width;
            -fx-pref-height: -shape-height;
            -fx-background-color: -on-surface-color; }
        .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-button:showing {
          -fx-background-color: -primary-color;
          -fx-cursor: inherit; }
          .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-button:showing .label .glyph-icon {
            -fx-fill: -on-primary-color; }
          .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-button:showing .label .text {
            -fx-fill: -on-primary-color; }
          .navigation-drawer .drawer-box .pretty-scroll-pane .viewport .menu-container .menu-button:showing .arrow-button .arrow {
            -fx-background-color: -on-primary-color; }

.scroll-bar {
  -fx-pref-width: 12;
  -fx-pref-height: 12;
  -fx-padding: 2;
  -fx-background-color: transparent; }
  .scroll-bar .increment-button,
  .scroll-bar .increment-arrow,
  .scroll-bar .decrement-button,
  .scroll-bar .decrement-arrow {
    -fx-pref-width: 0 !important;
    -fx-pref-height: 0 !important; }
  .scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.075);
    -fx-background-radius: 999;
    -fx-pref-width: 12;
    -fx-pref-height: 12; }
  .scroll-bar:vertical .thumb {
    -fx-background-insets: 0 2 0 0; }
  .scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 0 2 0; }

.dialog-pane {
  -fx-background-color: white;
  -fx-effect: -drop-shadow-3;
  -fx-background-radius: 5; }
  .dialog-pane .button-bar .button {
    -fx-background-color: transparent;
    -fx-text-fill: -primary-color;
    -fx-padding: 10 15;
    -font-size: 1.25em;
    -fx-font-weight: 700;
    -fx-cursor: hand; }

.dialog-header {
  -fx-padding: 0;
  -fx-background-color: white;
  -fx-background-radius: 5; }

.dialog-title {
  -fx-padding: 30 30 0 30;
  -fx-font-size: 1.5em;
  -fx-font-weight: 700;
  -fx-text-fill: black; }

.dialog-content-pane {
  -fx-padding: 20 30 20 30; }
  .dialog-content-pane .label {
    -fx-font-size: 1.2em;
    -fx-font-weight: 600;
    -fx-text-fill: rgba(0, 0, 0, 0.54); }
  .dialog-content-pane .input-container {
    -fx-spacing: 10; }
  .dialog-content-pane .textfield-container {
    -fx-spacing: 10; }

.error-details-titled-pane {
  -fx-padding: 20 0 0 0; }

/*# sourceMappingURL=main.css.map */
