@import "includes";

.root #workbench #content-view .toolbar-control {
  @extend %icon-base; // All icons in the toolbar are targeted
  @extend %button-base;
  & .button {
    & .glyph-icon,
    & .text {
      -fx-fill: -on-background-color;
    }
  }

  -fx-background-color: -background-color;

  -fx-padding: px(3);
  -fx-min-height: px(40);
  -fx-pref-height: px(40);
  -fx-max-height: px(40);

  & .toolbar-control-left-box {
    -fx-padding: 0 px(3) 0 0;
    -fx-spacing: px(3);
    -fx-max-height: px(34);
  }

  & .toolbar-control-right-box {
    -fx-padding: 0 0 0 px(3);
    -fx-spacing: px(3);
    -fx-max-height: px(34);
  }

  @extend %dropdown;
  & .toolbar-menu-button .dropdown {
    & .label {
      & .glyph-icon,
      & .text {
        -fx-fill: -on-background-color;
      }
    }
    & .arrow-button .arrow {
      -fx-background-color: -on-background-color;
    }
  }

  // @extend %context-menu;
  // The extention of the context-menu can be found in the context-menu.css file.
  // It is set in the constructor of the Workbench.
}
