.root #workbench #content-view .toolbar-control .toolbar-menu-button {
  -fx-max-height: 2.4285714286em; }
  .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown {
    -fx-background-insets: 0;
    -fx-padding: 0 1em 0 .25em;
    -fx-graphic-text-gap: .5em;
    -fx-pref-height: 2.4285714286em;
    -fx-background-color: transparent;
    -fx-background-radius: 0.1428571429em;
    -fx-border-width: 0; }
    .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown .label .glyph-icon {
      -fx-fill: -on-primary-color; }
    .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown .label .text {
      -fx-fill: -on-primary-color; }
    .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown .arrow-button {
      -fx-padding: 0;
      -fx-background-insets: 0; }
      .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown .arrow-button .arrow {
        -fx-rotate: 90;
        -shape-width: 0.1785714286em !important;
        -shape-height: 0.3571428571em !important;
        -fx-max-width: -shape-width;
        -fx-max-height: -shape-height;
        -fx-min-width: -shape-width;
        -fx-min-height: -shape-height;
        -fx-pref-width: -shape-width;
        -fx-pref-height: -shape-height;
        -fx-background-color: -on-primary-color; }
    .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown:hover {
      -fx-cursor: hand; }
    .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown:showing {
      -fx-background-color: -primary-variant-color; }
      .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown:showing .arrow-button .arrow {
        -fx-rotate: -90; }

.root #workbench #content-view .toolbar-control .button {
  -fx-background-insets: 0;
  -fx-padding: 0 .75em 0 .75em;
  -fx-graphic-text-gap: .5em;
  -fx-pref-height: 2.4285714286em;
  -fx-background-color: transparent;
  -fx-background-radius: 0.1428571429em;
  -fx-border-width: 0; }
  .root #workbench #content-view .toolbar-control .button .glyph-icon {
    -fx-fill: -on-primary-color; }
  .root #workbench #content-view .toolbar-control .button .text {
    -fx-fill: -on-primary-color; }
  .root #workbench #content-view .toolbar-control .button:hover {
    -fx-cursor: hand; }
  .root #workbench #content-view .toolbar-control .button:pressed {
    -fx-background-color: -primary-variant-color; }

.root #workbench #content-view .toolbar-control .icon {
  -fx-background-color: transparent;
  -icon-size: 2.8571428571em;
  -fx-max-width: -icon-size;
  -fx-max-height: -icon-size;
  -fx-min-width: -icon-size;
  -fx-min-height: -icon-size;
  -fx-pref-width: -icon-size;
  -fx-pref-height: -icon-size; }
  .root #workbench #content-view .toolbar-control .icon .shape {
    -shape-width: 1.1428571429em;
    -shape-height: 1.1428571429em;
    -fx-max-width: -shape-width;
    -fx-max-height: -shape-height;
    -fx-min-width: -shape-width;
    -fx-min-height: -shape-height;
    -fx-pref-width: -shape-width;
    -fx-pref-height: -shape-height; }

.root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown .arrow-button .arrow {
  -fx-shape: "M 10 17 L 15 12 L 10 7 L 10 17 Z";
  -shape-width: 0.2976428571em;
  -shape-height: 0.5952142857em; }

.root #workbench #content-view .toolbar-control {
  -fx-background-color: -background-color;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.075), 2, 0, 0, 2);
  -fx-padding: 0.2142857143em;
  -fx-min-height: 2.8571428571em;
  -fx-pref-height: 2.8571428571em;
  -fx-max-height: 2.8571428571em; }
  .root #workbench #content-view .toolbar-control .button .glyph-icon, .root #workbench #content-view .toolbar-control .button .text {
    -fx-fill: -on-background-color; }
  .root #workbench #content-view .toolbar-control .button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.075); }
  .root #workbench #content-view .toolbar-control .toolbar-control-left-box {
    -fx-padding: 0 0.2142857143em 0 0;
    -fx-spacing: 0.2142857143em;
    -fx-max-height: 2.4285714286em; }
  .root #workbench #content-view .toolbar-control .toolbar-control-right-box {
    -fx-padding: 0 0 0 0.2142857143em;
    -fx-spacing: 0.2142857143em;
    -fx-max-height: 2.4285714286em; }
  .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown .label .glyph-icon, .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown .label .text {
    -fx-fill: -on-background-color; }
  .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown .arrow-button .arrow {
    -fx-background-color: -on-background-color; }
  .root #workbench #content-view .toolbar-control .toolbar-menu-button .dropdown:showing {
    -fx-background-color: rgba(0, 0, 0, 0.075); }

/*# sourceMappingURL=toolbar-control.css.map */
