.patient-toolbar {
  -fx-background-color: rgb(66,66,66);
  -fx-padding: 4px;

  & .button {
      -fx-border-color: null;
      -fx-background-color: null;
      -fx-background-radius: 4;
      -fx-font-size: 14px;

    &:hover {
      -fx-background-color: rgb(33,33,33);
    }

    & .text {
      -fx-font-size: 22px;
      -fx-fill: white;
      -fx-scale-x: 1;
      -fx-scale-y: 1;
      -fx-cursor: hand;

      &:hover {
          -fx-scale-x: 1.1;
          -fx-scale-y: 1.1;
      }
    }
  }
}
