.dropdown {
  @extend .tabControl;
  -fx-padding: .5em;

  &:hover .label {
    -fx-text-fill: -text-color;
  }

  &:focused {
    @extend .tabControl;
    -fx-padding: .5em;
  }

  & .iconView {

  }

  & .contentNode {

  }

  & .customMenuItem {

  }

  & .menu-item {
    -fx-padding: .5em;

    &:hover {
      -fx-background-color: derive(-primary-color, 30%);
    }

    &:focused {
      -fx-background-color: derive(-primary-color, 30%);
    }
  }

  & .context-menu {
    -fx-background-color: derive(-primary-color, 15%);
  }
}
