.menu-drawer  {
  -fx-background-color: #ffffff;
  -fx-border-color: transparent derive($text-color, 150%) transparent transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 0;
  -fx-effect: null;
}

.menu-drawer  .menu-item:focused,
.menu-drawer  .menu-item:hover {
  //-fx-background-color: derive($custom-color-1, -10%);
}

.menu-drawer  .menu-item:pressed {
  -fx-background-color: white;
}

.menu-drawer  .menu-item:pressed .label {
  //-fx-text-fill: $custom-color-1;
}

.menu-drawer  .separator:horizontal .line {
  -fx-border-color: derive($text-color, 20%) transparent transparent transparent;
  -fx-border-insets: 1 0 0 0;
}

.menu-drawer  > .scroll-arrow {
  -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 */
  -fx-background-color: transparent;
}

.menu-drawer  > .scroll-arrow:hover {
  -fx-background: -fx-selection-bar;
  -fx-background-color: -fx-background;
  -fx-text-fill: -fx-text-background-color;
}

.menu-drawer :show-mnemonics > .mnemonic-underline {
  -fx-stroke: -fx-text-fill;
}

.header {
  -fx-spacing: 25;
  -fx-alignment: center;
}

.header .separator .line {
  -fx-border-color: white;
  -fx-border-width: 1;
}

#backIconView {

}

#backButton {
  @extend #homeButton;
  -fx-background-color: transparent;
  &:hover {
    -fx-background-color: transparent;
    & #backIconView {
      -fx-fill: derive(-icons-color, 20%);
    }
  }
}
