.tileControl {
  @extend %tool-bar-setup;
  -fx-pref-width: 16em;
  -fx-pref-height: 9em;
  &:hover {
    -fx-text-fill: -text-color;
  }
}

.tabControl {
  @extend %tool-bar-setup;
  -fx-padding: .5em .5em .5em 1em;

  & .closeBtn {
    -fx-background-color: transparent;
    & .closeIconView {
      -fx-font-size: 1em !important;
    }
    &:hover .closeIconView {
      -icons-color: -danger-color;
    }
  }
}

.active-tab {
  -fx-background-color: -primary-color !important;
}
