.context-menu, .navigation-drawer {
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 0;

  @extend %menu-item;
  @extend %context-menu;

  .separator:horizontal .line {
    -fx-border-color: derive(-text-color, 20%) transparent transparent transparent;
    -fx-border-insets: 1 0 0 0;
  }

  > .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em;
    -fx-background-color: transparent;
    &:hover {
      -fx-background: -fx-selection-bar;
      -fx-background-color: -fx-background;
      -fx-text-fill: -fx-text-background-color;
    }
  }

  :show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
  }

}

.navigation-drawer {
  -fx-background-color: white;
  -fx-border-color: transparent derive(-text-color, 150%) transparent transparent;
  -fx-effect: null;
}

.header {
  -fx-spacing: 25;
  -fx-alignment: center;
  .separator .line {
    -fx-border-color: white;
    -fx-border-width: 1;
  }
}

.menu-container {

}

#back-icon-view {

}

#back-button {
  @extend %tool-bar-setup;
  -fx-background-color: transparent;
  &:hover {
    -fx-background-color: transparent;
    & #back-icon-view {
      -fx-fill: derive(-inverted-text-color, -15%);
    }
  }

  #back-icon-view {
    -fx-fill: derive(-inverted-text-color, -55%);
  }
}

.logo {
  @include margin(20, 0, 0, 0);
  -fx-alignment: center-left;
}

.drawer-box {

}
