.context-menu, .navigation-drawer {
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 0;

  .menu-item {
    &:focused {
      -fx-background-color: derive($custom-color-1, -10%);
    }
    &:hover {
      -fx-background-color: derive($custom-color-1, -10%);
    }
    &:pressed {
      -fx-background-color: white;
      .label {
        -fx-text-fill: $custom-color-1;
      }
    }
  }

  .separator:horizontal .line {
    -fx-border-color: derive(-text-color, 20%) transparent transparent transparent;
    -fx-border-insets: 1 0 0 0;
  }

  > .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em;
    -fx-background-color: transparent;
    &:hover {
      -fx-background: -fx-selection-bar;
      -fx-background-color: -fx-background;
      -fx-text-fill: -fx-text-background-color;
    }
  }

  :show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
  }
}

.context-menu {
  -fx-background-color: $custom-color-1;

  .label {
    -fx-text-fill: white;
  }

  .menu {
    .arrow {
      -fx-background-color: $custom-color-2;
      -fx-background-insets: 0;
      -fx-padding: 0.25em;
      -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
    }
    &:hover .arrow {
      -fx-background-color: $custom-color-2;
    }
    &:showing .arrow {
      -fx-background-color: $custom-color-2;
    }
  }

  .menu-item {
    -fx-padding: 20;
    .label {
      -fx-font-size: 15;
    }
  }
}

.navigation-drawer {
  -fx-background-color: white;
  -fx-border-color: transparent derive(-text-color, 150%) transparent transparent;
  -fx-effect: null;
}

.header {
  -fx-spacing: 25;
  -fx-alignment: center;
  .separator .line {
    -fx-border-color: white;
    -fx-border-width: 1;
  }
}

.menu-container {

}

#back-icon-view {

}

#back-button {
  @extend %tool-bar-setup;
  -fx-background-color: transparent;
  &:hover {
    -fx-background-color: transparent;
    & #back-icon-view {
      -fx-fill: derive(-icons-color, 20%);
    }
  }
}

.logo {
  @include margin(20, 0, 0, 0);
  -fx-alignment: center-left;
}

.drawer-box {

}
