
.pretty-scroll-pane {
  -fx-background-insets: 0; // no focus border
}

.pretty-scroll-pane .scroll-bar {
  -fx-background-color: transparent;
  -fx-pref-width: 12;
  -fx-pref-height: 12;
  -fx-padding: 2;
}

.pretty-scroll-pane .scroll-bar .thumb {
  -fx-background-color: rgba(0, 0, 0, .2);
  -fx-background-radius: 1000;
  -fx-pref-width: 12;
  -fx-pref-height: 12;
}

.pretty-scroll-pane .scroll-bar:vertical .thumb {
  -fx-background-insets: 0 2 0 0;
}

.pretty-scroll-pane .scroll-bar:horizontal .thumb {
  -fx-background-insets: 0 0 2 0;
}

.pretty-scroll-pane .scroll-bar .increment-button,
.pretty-scroll-pane .scroll-bar .increment-arrow,
.pretty-scroll-pane .scroll-bar .decrement-button,
.pretty-scroll-pane .scroll-bar .decrement-arrow {
  -fx-pref-width: 0 !important;
  -fx-pref-height: 0 !important;
}
