$tab-spacing: 0.75em;

#toolbar {
  -fx-spacing: $tab-spacing;

  #homeButton {
    @extend %button-styling;
    & #homeIconView {

    }
  }

  #menuIconView {
    -fx-fill: white;
  }

  #menuButton {
    @extend %button-styling;
    -fx-background-color: -text-color;
    &:hover {
      -fx-background-color: derive(-text-color, 10%);
    }
  }

  #tabBox {
    -fx-spacing: 0.6 * $tab-spacing;
  }

  #controlBox {
    -fx-spacing: 0.6 * $tab-spacing;
  }
}
