$border: 2px;
$pref-size: 3.5em;
$primary-color: #f2f2f2;
$text-color: darken($primary-color, 70%);
$custom-color-1: blue;
$custom-color-2: red;
$custom-color-3: green;
$custom-color-4: purple;
$custom-color-5: pink;

.root {
  -primary-color: $primary-color;
  -danger-color: #DB4437;
  -success-color: #47aa71;
  -accent-color: #00aaff;
  -text-color: $text-color;
  -inverted-text-color: invert($text-color);
  -module-background-color: derive(-primary-color, 140%);

  -icons-color: -text-color;
  -fx-font-size: 14px;
  -fx-font-family: Helvetica, sans-serif;
  -fx-color: -primary-color;
  -fx-background-color: white;

}

// Default styling of icons. This enables changing the icons styles later on
.glyph-icon {
  -fx-text-fill: -text-color;
  -fx-fill: -icons-color;
  -fx-font-size: 1.5em !important;
}

.module-background {
  -fx-background-color: -module-background-color;
}

@import "includes";
@import "removeFocus";
@import "center";
@import "home";
@import "module";
@import "toolbar";
@import "workbench";
@import "dropdown";
@import "prettyScrollPane";
@import "navigationDrawer";
@import "glassPane";
