$font-stack: Helvetica, sans-serif;
$primary-color-light: #f3fafa;
$primary-color: #edf4f4;
$primary-color-dark: #353a3a;
$danger-color: #ff4e61;
$danger-color-dark: #b44153;
$accent-color: #00aaff;
$border: 2px;

// Sets a margin for all sides of the element
@mixin margin-all($margin) {
  -fx-padding: $margin;
  -fx-border-insets: $margin;
  -fx-background-insets: $margin;
}

// Sets a margin for each side of the element. Order: Top, Right, Bottom, Left
@mixin margin($margin-top, $margin-right, $margin-bottom, $margin-left) {
  -fx-padding: $margin-top $margin-right $margin-bottom $margin-left;
  -fx-border-insets: $margin-top $margin-right $margin-bottom $margin-left;
  -fx-background-insets: $margin-top $margin-right $margin-bottom $margin-left;
}

.root {
  -fx-font: 12px $font-stack;
  -fx-color: $primary-color;
  -icons-color: black;
}

// Default styling of icons. This enables changing the icons styles later on
.glyph-icon {
  -fx-text-fill: -icons-color;
  -fx-fill: -icons-color;
  -fx-font-size: 1.5em !important;
}

@import "center";
@import "home";
@import "module";
@import "toolbar";
@import "workbench";
