$font-stack: Helvetica, sans-serif;
$primary-color: #F2F2F2;
$text-color: derive($primary-color, -70%);
$danger-color: #DB4437;
$accent-color: #00aaff;
$border: 2px;
$custom-color-1: blue;
$custom-color-2: green;


// Sets a margin for all sides of the element
@mixin margin-all($margin) {
  -fx-padding: $margin;
  -fx-border-insets: $margin;
  -fx-background-insets: $margin;
}

// Sets a margin for each side of the element. Order: Top, Right, Bottom, Left
@mixin margin($margin-top, $margin-right, $margin-bottom, $margin-left) {
  -fx-padding: $margin-top $margin-right $margin-bottom $margin-left;
  -fx-border-insets: $margin-top $margin-right $margin-bottom $margin-left;
  -fx-background-insets: $margin-top $margin-right $margin-bottom $margin-left;
}

.root {
  -fx-background-color: white;
  -fx-font: 12px $font-stack;
  -fx-color: $primary-color;
  -icons-color: $text-color;
}

// Default styling of icons. This enables changing the icons styles later on
.glyph-icon {
  -fx-text-fill: $text-color;
  -fx-fill: -icons-color;
  -fx-font-size: 1.5em !important;
}

@import "center";
@import "home";
@import "module";
@import "toolbar";
@import "workbench";
@import "prettyScrollPane";
@import "globalMenu";
@import "glassPane";
