.root {
    -primary-color: #8e24aa;
    -danger-color: #f17a7a;
    -success-color: #47aa71;
    -accent-color: #a3aa9c;
    -text-color: white;
    -module-background-color: derive(-primary-color, 140%);

    -icons-color: -text-color;
    -fx-font-size: 14px;
    -fx-font-family: Helvetica, sans-serif;
    -fx-color: -primary-color;
    -fx-background-color: white;
}
